.container {
  margin: 2rem;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

.title {
  text-align: center;
  font-weight: bold;
}

.input {
  margin: 1rem 0;
}

.link {
  text-decoration: none;
}
